<%inherit file="base.html" />
<%def name="title()">Sourcerous</%def>
<%def name="js_defer()">
    ${ parent.js_defer()}
    <script type="text/javascript" src="/static/findSource/js/findSource.js"></script>
</%def>
<%def name="css_files()">
    ${ parent.css_files() }
</%def>


<h3>About</h3>
<p>Sourcerous is a tool for journalists to find people that are good sources of article to contact. We use Alchemy to analysis all the names in article and try to find their facebook/twitter/LinkedIn page.</p>

<img src="arch.jpg">