<%inherit file="base.html" />
<%def name="title()">Sourcerous</%def>
<%def name="js_defer()">
    ${ parent.js_defer()}
    <script type="text/javascript" src="/static/findSource/js/findSource.js"></script>
</%def>
<%def name="css_files()">
    ${ parent.css_files() }
    <link href="/static/findSource/css/index.css" rel="stylesheet">
</%def>

<div id="preLoaderDiv" hidden='true'>
    <center>
	    <img src="/static/findSource/img/reading.gif" />
    </center>
</div>

<center>
<div id="content">

	<div id="form">
	  <div style="display:none">
	      <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}" />
	  </div>
		<input type="text" id="user-input" placeholder="Please input a keyword">
		<label for="search" id="search">Search</label>
	</div>
</div>
</center>

<!-- 
<center><h2>Sourcerous</h2></center>
<br>



<div class="row">
	<div style="padding:0;"></div>
	<div style="padding:0; float:left; margin-left:25%; width:45%;"><input class="form-control" id="user-input"></div>
	<div style="padding:0;"><button id="search" class="btn btn-default" style="background-color:black;"><span class="glyphicon glyphicon-arrow-right" style="color:white;"></span></button></div>
</div>
-->