body {
    padding-top: 60px;
    background-image: url(/static/findSource/img/result-bg.png) repeat top left; 
}

textarea {
    resize: vertical;
}

h2 {

	font-size: 45pt;
}

.searchbar {
	background-color: orange;

}